[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
atomicwrites = "==1.2.1"
gevent = "==1.2.2"
attrs = "==18.2.0"
bottle = "==0.12.13"
bottle-websocket = "==0.2.9"
Eel = {git = "https://github.com/brumar/Eel.git", ref = "99e1d0f241e103ed87c75bc7076fe852fca6a7cd", editable = true}
certifi = "==2018.10.15"
chardet = "==3.0.4"
future = "==0.17.1"
gevent-websocket = "==0.10.1"
greenlet = "==0.4.15"
idna = "==2.7"
more-itertools = "==4.3.0"
mypy = "==0.641"
pluggy = "==0.8.0"
py = "==1.7.0"
requests = "==2.20.1"
six = "==1.11.0"
typed-ast = "==1.1.0"
"urllib3" = "==1.24.1"
whichcraft = "==0.5.2"
mypy_extensions = "==0.4.1"
Transcrypt = "==3.7.11"
black = "*"

[dev-packages]

[requires]
python_version = "3.6"
