atomicwrites==1.2.1
gevent==1.2.2
bottle==0.12.13
bottle-websocket==0.2.9
git+https://github.com/brumar/Eel.git@consenting_adults#egg=Eel
future==0.17.1
gevent-websocket==0.10.1
greenlet==0.4.15
whichcraft==0.5.2
